@model WatsonTracker.ViewModels.DashboardVM
@*!DOCTYPE html>*@


<!-- ===== Page-Container ===== -->
<div class="container-fluid">
    <div class="row colorbox-group-widget">
        <div class="col-md-3 col-sm-6 info-color-box">
            <div class="white-box">
                <div class="media bg-primary">
                    <div class="media-body">
                        <h3 class="info-count">@Model.ActiveTickets.Count()<span class="pull-right"><i class="mdi mdi-ticket"></i></span></h3>
                        <p class="info-text font-12">Open Tickets</p>
                        <p class="info-ot font-15">Unassigned<span class="label label-rounded">@Model.TicNotAssigned.Count()</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 info-color-box">
            <div class="white-box">
                <div class="media bg-success">
                    <div class="media-body">
                        <h3 class="info-count">@Model.NumProjects.Count()<span class="pull-right"></span></h3>
                        <p class="info-text font-12">Open Projects</p>
                        <h3 class="info-count"><span class="pull-right"><i class="mdi mdi-briefcase-check"></i></span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 info-color-box">
            <div class="white-box">
                <div class="media bg-danger">
                    <div class="media-body">
                        <h3 class="info-count">@Model.PriorityUrgent.Count() <span class="pull-right"><i class="mdi mdi-ticket-percent"></i></span></h3>
                        <p class="info-text font-12">Urgent Tickets</p>
                        <p class="info-ot font-15">High Priority<span class="label label-rounded">@Model.PriorityHigh.Count() </ span ></ p >
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 info-color-box">
            <div class="white-box">
                <div class="media bg-warning">
                    <div class="media-body">
                        <h3 class="info-count">@Model.UsersAssigned.Count()</h3>
                        <p class="info-text font-12">Users</p>
                        <h3 class="info-count"><span class="pull-right"><i class="mdi mdi-account-card-details"></i></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="white-box">
                <h3 class="box-title">Ticket Priorities - Top 3 Projects</h3>
                <div id="morris-bar-chart"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="white-box order-chart-widget">
                <h4 class="box-title">Tickets Listing</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Created
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Tickets)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @item.Created.ToString("MM.dd.yyyy")
                                </td>
                            </tr>
                        }
                    </tbody>


                </table>
            </div>
        </div>
    </div>





    @section scripts{
        <!--Morris JavaScript -->


        <script src="~/Template/Cubic/plugins/components/raphael/raphael-min.js"></script>
        <script src="~/Template/Cubic/plugins/components/morrisjs/morris.js"></script>
        <script>

            var url = "@Url.Action("GetTicketPrioritiesBarChart", "Charts")";

            $.post(url).then(function (response) {
                Morris.Bar({
                    element: 'morris-bar-chart',
                    data: [{
                        y: response[0].ProjectName,
                        Urgent: response[0].Urgent,
                        High: response[0].High,
                        Medium: response[0].Medium,
                        Low: response[0].Low
                        },
                        {
                        y: response[1].ProjectName,
                        Urgent: response[1].Urgent,
                        High: response[1].High,
                        Medium: response[1].Medium,
                        Low: response[1].Low
                        },
                        {
                        y: response[2].ProjectName,
                        Urgent: response[2].Urgent,
                        High: response[2].High,
                        Medium: response[2].Medium,
                        Low: response[2].Low
                        },


                    ],
                    xkey: 'y',
                    ykeys: ['Urgent', 'High', 'Medium', 'Low'],
                    labels: ['Urgent', 'High', 'Medium', 'Low'],
                    barColors: ['#2ecc71', '#0283cc', '#e74a25', 'lightblue'],
                    hideHover: 'auto',
                    gridLineColor: '#e0e0e0',
                    resize: true
                });
            });
        </script>

    }
</div>